
{{> header}}


<div id="fh5co-contact-section">
    <div class="container">
       

       


        <br>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Connect Us</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h3>Administrator</h3>
                <ul class="contact-info">
                    <li><i class="sl-icon-people"></i>Magic blue</li>
                    <li><i class="sl-icon-phone"></i>Tell:123456789</li>
                  
                </ul>
            </div>
            <div class="col-md-8 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                <form action="" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" placeholder="Name" type="text" name="name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" placeholder="Email" type="text" name="email">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" id="" cols="30" rows="7" placeholder="advice OR suggestion" name="advice"></textarea>
                            </div>
                        </div>
                        {{{notice}}}
                        <div class="col-md-12">
                            <div class="form-group">
                                <input value="Send Message" class="btn btn-primary" type="submit">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{> footer}}